################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0/KNC.AssemblyInfo.cs
/obj/Debug/net8.0/KNC.AssemblyInfoInputs.cache
/.vs/KNC/CopilotIndices/17.14.552.11226/CodeChunks.db-shm
/.vs/KNC/CopilotIndices/17.14.552.11226/CodeChunks.db-wal
/.vs/KNC/CopilotIndices/17.14.552.11226/SemanticSymbols.db-shm
/.vs/KNC/CopilotIndices/17.14.552.11226/SemanticSymbols.db-wal
/.vs/KNC/FileContentIndex/2216c028-0928-4545-abd1-e034c1bda684.vsidx
/.vs/KNC/FileContentIndex/7e160f69-98ec-475a-bff0-a6437c8048e8.vsidx
/.vs/KNC/FileContentIndex/9f13c2a5-f5d9-420a-b263-295495e4839b.vsidx
/.vs/KNC/FileContentIndex/cb6508e6-6623-41d6-a1e7-bafd76921cea.vsidx
*.vsidx
/.vs/KNC/v17/.suo
/.vs/KNC/CopilotIndices/17.14.552.11226/CodeChunks.db
/.vs/KNC/CopilotIndices/17.14.552.11226/SemanticSymbols.db
/.vs/KNC/v17/DocumentLayout.backup.json
/.vs/KNC/v17/DocumentLayout.json
/bin/Debug/net8.0/KNC.dll
/bin/Debug/net8.0/KNC.exe
/bin/Debug/net8.0/KNC.pdb
/obj/Debug/net8.0/ref/KNC.dll
/obj/Debug/net8.0/refint/KNC.dll
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/KNC.dll
/obj/Debug/net8.0/KNC.pdb
/obj/Debug/net8.0/KNC.sourcelink.json
/.vs/KNC/DesignTimeBuild/.dtbcache.v2
