################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db-shm
*.db-wal
*.vsidx
/.vs/KNC/v17/.suo
