################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net8.0/KNC.AssemblyInfo.cs
/obj/Debug/net8.0/KNC.AssemblyInfoInputs.cache
/.vs/KNC/CopilotIndices/17.14.552.11226/CodeChunks.db-shm
/.vs/KNC/CopilotIndices/17.14.552.11226/CodeChunks.db-wal
/.vs/KNC/CopilotIndices/17.14.552.11226/SemanticSymbols.db-shm
/.vs/KNC/CopilotIndices/17.14.552.11226/SemanticSymbols.db-wal
