@model KNC.ViewModels.EducationProgramsViewModel

<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("DeleteConfirmed", "EducationPrograms", FormMethod.Post))
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="modalFormLabel">Delete Education Program</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>@Model.ProgramName</strong>?</p>
                    @Html.HiddenFor(m => m.ProgramID)
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>