@model KNC.ViewModels.EducationProgramsViewModel

<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalFormLabel">Education Program Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">Program Name</dt>
                    <dd class="col-sm-8">@Model.ProgramName</dd>
                    <dt class="col-sm-4">Duration (Years)</dt>
                    <dd class="col-sm-8">@Model.Duration</dd>
                    <dt class="col-sm-4">Description</dt>
                    <dd class="col-sm-8">@Model.ShortName</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>